{% extends 'base.html' %}

{% block content %}
<h1>{% block title %}Customer #{{customer.customer_id}}{% endblock %}</h1>
    <table class="item-table">
      <colgroup>
        <col style="width: 30%;">
        <col>
        <col>
      </colgroup>
      <thead>
        <tr>
          <th>Field</th><th colspan=2>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Age</td>
          <td>{{ customer.age }}</td>
        </tr>
        <tr>
          <td>Gender</td>
          <td>{{ customer.gender }}</td>
        </tr>
        <tr>
          <td>Subscription Status</td>
          <td>{{ customer.subscription_status }}</td>
        </tr>
        <tr>
          <td>Previous Purchases</td>
          <td>{{ customer.previous_purchases }}</td>
        </tr>
        <tr>
          <td>Payment Method</td>
          <td>{{ customer.payment_method }}</td>
        </tr>
        <tr>
          <td>Frequency Name</td>
          <td>{{ customer.frequency_name }}</td>
        </tr>
        <tr>
          <td>Location Name</td>
          <td>{{ customer.location_name }}</td>
        </tr>
      </tbody>
    </table>
    <a href="{{ url_for('edit_customer', id=customer.customer_id) }}" class="small-button-link">Edit</a>
    <h2>Purchases</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Item</th>
          <th>Amount</th>
          <th>Season</th>
          <th>Rating</th>
          <th>Payment Method</th>
          <th>Shipping Type</th>
          <th>Discount</th>
          <th>Promo Code Used</th>
        </tr>
      </thead>
      <tbody>
        {% for purchase in purchases %}
        <tr>
          <td><a href="{{ url_for('purchase', id=purchase.purchase_id) }}" class="button-link">{{purchase.purchase_id}}</a></td>
          <td>
            <div class="tooltip">{{ purchase.item_purchased }}
              <span class="tooltip-text">• {{purchase.category_name}}<br>• {{purchase.size}}<br>• {{purchase.color}}</span>
            </div>
          </td>
          <td>{{ purchase.purchase_amount }}</td>
          <td>{{ purchase.season_name }}</td>
          <td>{{ purchase.review_rating }}</td>
          <td>{{ purchase.payment_method }}</td>
          <td>{{ purchase.shipping_type_name }}</td>
          <td>{{ purchase.discount_applied }}</td>
          <td>{{ purchase.promo_code_used }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
